<html>
<body>
<h1> Add a Link </h1>

  <form action='/links' method='post'>
    New Link Title: <input type='text' name='title'></br>
    New Link URL: <input type='text' name='url'></br>
    <input type='submit' value='Submit'>
  </form>

</body>
</html>
