<html>
<body>
<h1> Signup now! </h1>

  <form action='/signup' method='post'>
  <label for='email'>
    Email: <input type='text' name='email'></br>
  </label>
  <label for='password'>
    Password: <input type='text' name='password'></br>
  </label>
    <input type='submit' value='Signup'>
  </form>

</body>
</html>
